body{
    padding: 0;
    margin: 0;
}

p.ordinary{
    position: relative;
    left: 20px;
    color:blue;
    font-size: 15px;
    font-family: Arial;
}

#P1{
    position: relative;
    left: 20px;
    color:darkgoldenrod;
    font-size: 15px;
    font-family:Cambria;
}

#P2{
    position: relative;
    left: 20px;
    color:green;
    font-size: 15px;
    font-family: Tahoma;
}

a:hover{ 
   color: #468be1; /* Цвет ссылок */ 
   text-decoration: underline; /* Добавляем подчеркивание 
                                   при наведении курсора мыши на ссылку */
  }